.taishin{
    display: flex;
flex-direction: column;
    gap: 20px;
  .plaice-01{
width: 170px;
height: 138px;
border-radius: 4px;
background:  rgba(245, 245, 245, 1);

}  
.plaice-02{
width: 170px;
height: 138px;
border-radius: 4px;
background:  rgba(245, 245, 245, 1);

}
.plaice-03{
width: 170px;
height: 138px;
border-radius: 4px;
background:  rgba(245, 245, 245, 1);

}
.plaice-04{
width: 170px;
height: 138px;
border-radius: 4px;
background:  rgba(245, 245, 245, 1);

}
}
